



* {
  margin: 0;
  padding: 0;
}
.likeTweet {
  background-color: red ;
  margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;  
}

.header {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}

.header ul {
  list-style: none;
  display: inline;
}

.header li {
  display: inline;
  margin-left: 30px;
  font-size: 25px;
}

.header a {
  text-decoration: none;
  color: gray;
}

.header span {
  position: absolute;
  right: 100px;
  top: 5px;
  background-color: #1da1f2;
  padding: 10px 20px;
  border-radius: 30px 30px 30px 30px;
  color: white;
  text-align: center;
  cursor: pointer;
}

#add-tweet{
    background-color: #1da1f2;
      padding: 10px 20px;
      border-radius: 30px 30px 30px 30px;
      color: white;
      text-align: center;
      cursor: pointer;
}

.grand{
  background-color: aliceblue;
  height: 100%;
  padding: 10px;
}
.parent{
  margin-bottom: 20px;
}

.parent #username{
  border: none;
  background-color: aliceblue;
  padding: 15px 15px 15px 0; 
}

.parent .sec1{
  border: 1px solid rgb(65, 52, 255);
  padding: 10px 10px 10px 20px;
  width: 500px;
  margin-left: 200px;
  border-radius: 20px;
}

.parent #tweet{
    border: none;
      background-color: aliceblue;
      padding: 10px 30px 100px 0;
}

.parent span{
  position: relative;
  top: 80px;
  right: -200px;
}

#all-tweets-container{
      padding: 10px 10px 10px 20px;
      width: 500px;
      margin-left: 200px;
      border-radius: 20px;
}

.border{
  background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
}

.gray{
  color: gray;
}

.padding{
  padding: 5px;
}

.style{
    background-color: #1da1f2;
    padding: 10px 20px;
    border-radius: 30px 30px 30px 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-right: 10px;
    position: relative;
    right: -300px;
}

